.main-box {
  height: 800px;
  width: 100%;
  overflow: scroll;
}

.card-panel {
  overflow-wrap: break-word;
}


.hidden {
  display: none;
}

#input-field-toggle {


}

#message_input {
  // @extend .blue, .lighten-2;
  // @extend .white-text;
  font-size: 1.25em;
  height: 40px;
}

#fixed-buttons {
    position: fixed;
    bottom: 1%;
    right: 80%;
    margin-bottom: 10px;
    margin-left: 10px;
  }

.avatar-pic img {
    height: 55px;
    width: 55px;
    vertical-align: middle;
    margin-right: 14px;
    margin-bottom: 14px;
    border-radius: 50%;

}